<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='css/style.css') }}"/>
</head>
<body>
	<header>
		<div id="header-wrap">
		<img id="logo" src="static/logo.png">
		</div>
	</header>

	<article>
		<h2>Узнайте прямо сейчас, соответствуют ли ваши навыки рынку труда.</h2>
		<div class="container">
			<div class="text">
				Заодно подскажем вероятные пути карьерного развития и как к ним придти.</div>

			<a href="test.html" class="button7">Начать</a>
		</div>
	</article>
	
</body>
</html>