<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}" type="text/css"/>
</head>
<body>
	<header>
		<div id="header-wrap">
		<img id="logo" src="static/logo.png">
		</div>
	</header>

	<article>
		<h2>Пройдите тест</h2>
		<form action="{{ url_for('predict')}}"method="post">
			<div class="container">
				<div class="text">Укажите число от 1 до 5 напротив навыков, которыми вы владеете:</div>
				
				<div class="answer">
					<div class="text">PHP</div>
					<select required name="php">
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
					</select>
				</div>

				<div class="answer">
					<div class="text">JavaScript</div>
					<select required name="JavaScript">
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
					</select>
				</div>

				<div class="answer">
					<div class="text">Laravel</div>
					<select required name="laravel">
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
					</select>
				</div>

				<div class="answer">
					<div class="text">HTML</div>
					<select required name="html">
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
					</select>
				</div>

				<div class="answer">
					<div class="text">Symfony</div>
					<select required name="symfony">
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
					</select>
				</div>

				<div class="answer">
					<div class="text">SQL</div>
					<select required name="SQL">
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
					</select>
				</div>

				<div class="answer">
					<div class="text">Linux</div>
					<select required name="linux">
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
					</select>
				</div>

				<div class="answer">
					<div class="text">CSS</div>
					<select required name="css">
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
					</select>
				</div>

				<div class="answer">
					<div class="text">jQuery</div>
					<select required name="jQuery">
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
					</select>
				</div>

				<div class="answer">
					<div class="text">Yii</div>
					<select required name="yii">
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
					</select>
				</div>

				<div class="answer">
					<div class="text">Redis</div>
					<select required name="redis">
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
					</select>
				</div>

				<div class="answer">
					<div class="text">Docker</div>
					<select required name="Docker">
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
					</select>
				</div>

				<div class="answer">
					<div class="text">Rabbitmq</div>
					<select required name="rabbitmq">
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
					</select>
				</div>

				<div class="answer">
					<div class="text">Ajax</div>
					<select required name="ajax">
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
					</select>
				</div>

				<div class="answer">
					<div class="text">Python</div>
					<select required name="Python">
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
					</select>
				</div>

				<div class="answer">
					<div class="text">Git</div>
					<select required name="git">
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
					</select>
				</div>

				<div class="answer">
					<div class="text">Django</div>
					<select required name="Django">
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
					</select>
				</div>

				<div class="answer">
					<div class="text">ООП</div>
					<select required name="ООП">
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
					</select>
				</div>

				<div class="answer">
					<div class="text">Rest</div>
					<select required name="Rest">
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
					</select>
				</div>

				<div class="answer">
					<div class="text">Flask</div>
					<select required name="Flask">
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
					</select>
				</div>

				<div class="answer">
					<div class="text">English</div>
					<select required name="English">
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
					</select>
				</div>

				<div class="answer">
					<div class="text">C++</div>
					<select required name="C++">
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
					</select>
				</div>

				<div class="answer">
					<div class="text">C</div>
					<select required name="C">
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
					</select>
				</div>

				<div class="answer">
					<div class="text">Qt</div>
					<select required name="Qt">
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
					</select>
				</div>

				<div class="answer">
					<div class="text">Stl</div>
					<select required name="stl">
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
					</select>
				</div>
				
				<div class="answer">
					<div class="text">C#</div>
					<select required name="C#">
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
					</select>
				</div>

				<div class="answer">
					<div class="text">Boost</div>
					<select required name="boost">
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
					</select>
				</div>


			</div>

			<div class="container">
				<div class="text">Какое у вас образование?</div>

				<div class="quest1">
					<div class="answer">
						<input type="radio" id="contactChoice1" name="contact" value="1">
			    		<label for="contactChoice1">Общее</label>
			    	</div>
			    	<div class="answer">
					    <input type="radio" id="contactChoice2" name="contact" value="2">
					    <label for="contactChoice2">Профессиональное</label>
					</div>
					<div class="answer">
					    <input type="radio" id="contactChoice3" name="contact" value="4">
					    <label for="contactChoice3">Высшее</label>
					</div>
				</div>
			</div>

			<div class="container">
				<div class="text">Сколько лет составляет ваш стаж?</div>
				<div class="quest1">
					<div class="answer">
						<input type="number" name="" placeholder="5">
					</div>
				</div>
				<input type="submit">
			</div>
		</form>
	</article>
	


</body>
</html>